<div
  class="modal fade"
  id="editProfileModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addChildModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content border-bottom-info">
      <div class="modal-header border-bottom-info">
        <h5 class="modal-title" id="editProfileModal">Edit Profile</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          {%csrf_token%} {{parent_edit}}

          <button class="btn btn-info mt-1">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
