{%block content%}
  {% include 'dashboard/messaging.html' %}
    <form id="studentForm" method="post" action="{%url 'edit-student' id %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Naran Dahuluk</label>
        {{form_edit.first_name}}
      </div>
      <div class="form-group">
        <label for="name">Naran Ikus</label>
        {{form_edit.last_name}}
      </div>
      <div class="form-group">
        <label for="name">Tinan Moris</label>
        {{form_edit.year_birth}}
      </div>
      <button type="submit" class="btn btn-primary">Atualiza</button>
    </form>
{%endblock%}
