{% extends "dashboard/layout.html" %} {%block content%}
<div class="row">
  <!-- Area Chart -->
  <div class="col-xl-12 col-lg-12">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
      >
        <h6 class="m-0 font-weight-bold text-primary text-bg-info text-center">
          Welcome to Timor App dashboard
        </h6>
        <div class="dropdown no-arrow">
          <a
            class="dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
            aria-labelledby="dropdownMenuLink"
          >
            <div class="dropdown-header">Kria Modulu</div>
            {% if 'Procurement' in user_groups %}
            <a class="dropdown-item" href="{%url 'create'%}"
              >Kria Pajina foun
            </a >
            {%elif 'Media' in user_groups %}
            <a class="dropdown-item" href="{%url 'create_news'%}"
              >Kria Notisia Foun</a
            >
            {%endif%}
            {% comment %} <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a> {% endcomment %}
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <!-- First Card - People Icon -->
        {% if 'Administrator' in user_groups or 'Procurement' in user_groups %}
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Pajinas</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <!-- Add link around the icon -->
              <a href="{% url 'list_page' %}">
                <i class="fas fa-users fa-3x text-primary"></i>
              </a>
            </div>
          </div>
        </div>
        {% endif %}

        <!-- Second Card - Newspaper Icon -->
        {% if 'Administrator' in user_groups or 'Media' in user_groups %}
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Notisias</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <!-- Add link around the icon -->
              <a href="{% url 'list_news' %}">
                <i class="fas fa-newspaper fa-3x text-primary"></i>
              </a>
            </div>
          </div>
        </div>
        {% endif %}

        <!-- Third Card - Announcement Icon -->
        {% if 'Administrator' in user_groups %}
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista Leis sira</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <!-- Add link around the icon -->
              <a href="{% url 'list_leis' %}">
                <i class="fas fa-bullhorn fa-3x text-primary"></i>
              </a>
            </div>
          </div>
        </div>
        {% endif %}

        <!-- Fourth Card - Recruitment Icon -->
        {% if 'Administrator' in user_groups %}
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listas Galery</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <!-- Add link around the icon -->
              <a href="{% url 'list_gal' %}">
                <i class="fas fa-user-plus fa-3x text-primary"></i>
              </a>
            </div>
          </div>
        </div>
        {% endif %}

        <!-- Fifth Card - Recruitment Icon -->
        {% if 'Administrator' in user_groups %}
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listas Foto Strutura</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <!-- Add link around the icon -->
              <a href="{% url 'list_strutura' %}">
                <i class="fas fa-chalkboard-teacher fa-3x text-primary"></i>
              </a>
            </div>
          </div>
        </div>
        {% endif %}
          <!-- Fifth Card - Recruitment Icon -->
          {% if 'Administrator' in user_groups %}
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Listas Foto Slider</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <!-- Add link around the icon -->
                <a href="{% url 'list-slider' %}">
                  <i class="fas fa-chalkboard-teacher fa-3x text-primary"></i>
                </a>
              </div>
            </div>
          </div>
          {% endif %}
          <!-- Sixth Card - Recruitment Icon -->
          {% if 'Administrator' in user_groups %}
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Listas Users</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <!-- Add link around the icon -->
                <a href="{% url 'user_list' %}">
                  <i class="fas fa-chalkboard-teacher fa-3x text-primary"></i>
                </a>
              </div>
            </div>
          </div>
          {% endif %}
    </div>
    </div>
  </div>
</div>
{%endblock%}
