<ul
  class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="{% url 'parent-dashboard' %}"
  >
    <div class="sidebar-brand-icon rotate-n-15"></div>
    <div class="sidebar-brand-text mx-3">
      HAHU <i class="flag-icon flag-icon-tl mr-2"></i>APP<sup></sup>
    </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'parent-dashboard' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  {% if is_parent %}
  <!-- Only visible to Parents -->
  <div class="sidebar-heading">Interface</div>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      href="#"
      data-toggle="collapse"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>Menu</span>
    </a>
    <div
      id="collapseTwo"
      class="collapse"
      aria-labelledby="headingTwo"
      data-parent="#accordionSidebar"
    >
      <div class="bg-white py-2 collapse-inner border-bottom-info">
        <h6 class="collapse-header">Menus</h6>
        <a class="collapse-item" href="{% url 'all-parents' %}"
          ><i class="fas fa-users mr-2"></i> Lista Parentes</a
        >
        <a class="collapse-item" href="{% url 'all-student' %}"
          ><i class="fas fa-child mr-2"></i> Lista Labarik sira</a
        >
      </div>
    </div>
  </li>
  {% endif %}
</ul>
